
  <div class="container">
    <h1><%= t("navbar.about") %></h1>
    <div class="body">
      <ul>
        <li>
          <p>1.什么都不说了</p>
        </li>
         <li>
          <p>2.啥都不知道</p>
        </li>
         <li>
          <p>3.我这个是抄的</p>
        </li>
         <li>
          <p>4.你们猜猜看</p>
        </li>
      </ul>
    </div>
  </div>
